/* @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap,family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap'); */



/******************** ESTILIZAÇÃO READ COM GET **********************/
.page-title a {
    font-family: 'Indie Flower', cursive;
    text-decoration: none;
    font-size: 25pt;
    color: black;
    margin-left: 4rem;
    text-transform: uppercase;

}

.page-title h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 25pt;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #567189;
    border-radius: 10px;
    height: 50px;

}

.produto {
    font-family: 'Roboto Mono', cursive;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin-right: 3rem;
}


/******************** ESTILIZAÇÃO INDEX **********************/

.minhaClasseDiv {
    display: flex;
    justify-content: center;
}

#botao {
    display: flex;
    margin-left: 4rem;
    border: none;
    background-color: #86A3B8;
    border-radius: 10px;
    cursor: pointer;

}

#botao:hover {
    opacity: 0.8;
}

/******************** CREAT COM POST **********************/


/******************** UPDATE COM PUT **********************/
.box-father {
    background: #FEFFE4;
 
}

.box-father form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    font-family: 'Ubuntu';

}

.page-title-Put {
    display: flex;
    justify-content: center;
    align-items: center;

}

.page-title-Put h1 {
    color: #000;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 27px;
    font-family: 'Ubuntu';

}

.box-form {
    border-radius: 12px;
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 420px;
    height: 439px;
    display: flex;
    align-items: center;

}

.box-form h1 {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

#id {
    width: 304px;
    height: 34px;
    border-radius: 4px;
    border: 1px solid #000;
    background: #E3E2E2;
    font-style: italic;
    font-size: 16px;

}

.label-text {
    display: flex;
    align-self: flex-start;
    padding-inline: 4rem;
    margin-top: 20px;
    margin-bottom: 4px;

}

#descricao,
#preco {
    width: 304px;
    height: 34px;
    border-radius: 4px;
    border: 1px solid #000;
    background: #FEFFE4;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-style: italic;

}

.containerButton{
    height: 120px ;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

#btAtualizar {
    height: 46px;
    width: 167px;   
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Ubuntu';
    line-height: normal;
    text-align: center;
    border-radius: 4px;
    background: #48A4FA;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    border: none;

}

#btCancelar {
    height: 46px;
    width: 118px;
    color: #444;
    border-radius: 4px;
    background: #F59999;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    
}

#btAtualizar:hover {
   background-color: #007BED;
    
}

#btCancelar:hover{
    background-color: #FF5F5F;  
    
}

#btCancelar:disabled{
    cursor: not-allowed;
    background-color: #e2e0e0;
    box-shadow: none;
    
}

#btAtualizar:disabled{
    cursor: not-allowed;
    background-color: #e2e0e0;
    box-shadow: none;
}

#btAtualizar:active{
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;

}

#btCancelar:active{
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
}

.box-product h1{
    font-family: 'Ubuntu';
    font-size: 24px;
    font-weight: 400;
    padding-inline: 185px;
    margin: 20px;

}

.box-product{
    margin-top: 80px;
}

#listaProdutos {
    font-family: 'Ubuntu';
    color: #000;
    font-size: 16pt;
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#listaProdutos ul {
    width: 1500px;
    line-height: 43px;
    border-bottom: 1px solid #000;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

}

#listaProdutos ul:nth-child(odd){
    border-bottom: 1px solid #000;
    background: #FFF;

}

#listaProdutos ul:nth-child(even){   
    border-bottom: 1px solid #000;
    background: #FFF1C1;

}

#listaProdutos li{
    display:flex;
    padding-inline: 40px;
    font-size: 16pt;
    
   
}

#listaProdutos li:nth-child(2){
    margin-right: auto;
    margin-left: 5rem;

}