@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap,family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');



/******************** ESTILIZAÇÃO READ COM GET **********************/
.page-title a{
    font-family: 'Indie Flower', cursive;
    text-decoration: none;
    font-size: 25pt;
    color: black;
    margin-left: 4rem;
    text-transform: uppercase;

}
.page-title h1{
    font-family: 'Indie Flower', cursive;
    font-size: 25pt;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #567189;
    border-radius: 10px;
    height: 50px;
 
}

.produto {
    font-family: 'Roboto Mono', cursive;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin-right: 3rem;
}


/******************** ESTILIZAÇÃO INDEX **********************/

.minhaClasseDiv{
    display: flex;
    justify-content: center;
}

#botao{
    display: flex;
    margin-left: 4rem;
    border: none;
    background-color: #86A3B8;
    border-radius: 10px;
    cursor: pointer;
  
}

#botao:hover {
    opacity: 0.8;
  }

/******************** CREAT COM POST **********************/

/******************** UPDATE COM PUT **********************/